* {
	margin: 0;
	padding: 0;
	--custom-border-radius: 5px;
	--moon-color: #f0c420;
	--sun-color: #fff222;

	/* Light theme colors */
	--light-body: #e2e2e2;
	--light-body-item: #ffffff;
	--light-text: #363537;
	--light-toggle-border: #ffffff;
	--light-color-lighter: #79d7ed;
	--light-color-darker: #39598a;
	--light-linear-gradient: linear-gradient(var(--light-color-darker), var(--light-color-lighter));
	--light-radial-gradient: radial-gradient(at center, var(--light-color-lighter), var(--light-color-darker));

	/* Dark theme colors */
	--dark-body: #222222;
	--dark-body-item: #363537;
	--dark-text: #fafafa;
	--dark-toggle-bar: #6b8096;
	--dark-color-lighter: #1e215d;
	--dark-color-darker: #091236;
	--dark-linear-gradient: linear-gradient(var(--dark-color-darker), var(--dark-color-lighter));
	--dark-radial-gradient: radial-gradient(at center, var(--dark-color-lighter), var(--dark-color-darker));

	/* Standard Sizes */
	--button-height: 2rem;
	--button-width: 10rem;
	--theme-switcher-size: 2.5rem;
	--item-border: 1px;
	--standard-spacing: 10px;
	--short-delay: 0.25s;
	--long-delay: 0.5s;
	--header-height: 4rem;
}

html {
	font-family: sans-serif, Georgia, serif;
}

.light-theme {
	background-color: var(--light-body);
	color: var(--light-text);
}

.dark-theme {
	background-color: var(--dark-body);
	color: var(--dark-text);
}

header {
	display: flex;
	flex-wrap: row;
	position: fixed;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100vw;
	height: var(--header-height);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.light-theme header {
	background: var(--light-body);
}

.dark-theme header {
	background: var(--dark-body);
}

#theme-switcher {
	border-radius: var(--custom-border-radius);
	border: 0px;
	height: var(--theme-switcher-size);
	width: var(--theme-switcher-size);
	align-self: center;
	background-color: var(--sun-color);
}

.light-theme #theme-switcher {
	background-color: var(--sun-color);
	box-shadow: 0 0 5px var(--sun-color);
}

.light-theme #theme-switcher:hover {
	transition: box-shadow var(--short-delay) ease;
	box-shadow: 0 0 10px var(--sun-color);
}

.dark-theme #theme-switcher {
	background-color: var(--moon-color);
	box-shadow: 0 0 5px var(--moon-color);
}

.dark-theme #theme-switcher:hover {
	transition: box-shadow var(--short-delay) ease;
	box-shadow: 0 0 10px var(--moon-color);
}

#sun-svg {
	color: var(--light-text);
}

#moon-svg {
	color: var(--dark-text);
}

header nav {
	display: flex;
	flex-direction: row;
	padding: var(--standard-spacing);
}

.light-theme header nav a svg {
	color: var(--light-text);
}

.dark-theme header nav a svg {
	color: var(--dark-text);
}

#github-link {
	margin-left: var(--standard-spacing);
	margin-right: var(--standard-spacing);
}

.light-theme #github-svg:hover {
	transition: color var(--short-delay) ease;
	color: var(--sun-color);
}

.dark-theme #github-svg:hover {
	transition: color var(--long-delay) ease;
	color: var(--moon-color);
}

#linkedin-link {
	margin-left: var(--standard-spacing);
}

.light-theme #linkedin-svg:hover {
	transition: color var(--short-delay) ease;
	color: var(--sun-color);
}

.dark-theme #linkedin-svg:hover {
	transition: color var(--short-delay) ease;
	color: var(--moon-color);
}

header img {
	width: var(--theme-switcher-size);
	height: var(--theme-switcher-size);
}

header h1 {
	margin: 1rem;
}

header button {
	margin: 1rem;
}


main {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.light-theme main{
	background-image: var(--light-radial-gradient);
}

.dark-theme main{
	background-image: var(--dark-radial-gradient);
}

.drop-down-div {
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.drop-down-item {
	margin-top: 1rem;
	flex-direction: column;
	/* this will be changed with javascript */
	width: 768px;
	max-width: 80vw;
	text-align: center;
	overflow: hidden;
	padding: var(--standard-spacing) var(--standard-spacing);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	border-style: solid;
	border-width: 0px;
	border-radius: var(--custom-border-radius);
	opacity: 0;
}

.drop-down-item.show-drop-down {
	opacity: 1;
}

.light-theme .drop-down-item {
	background-color: var(--light-body-item);
}

.dark-theme .drop-down-item {
	background-color: var(--dark-body-item);
}

.light-theme .drop-down-item a {
	color: var(--light-text);
}

.dark-theme .drop-down-item a {
	color: var(--dark-text);
}

.drop-down-btn {
	align-self: center;
	border-radius: var(--custom-border-radius);
	border: 0px solid transparent;
	margin: 0 1rem;
	padding: 0.25rem 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	height: 2.5rem;
	max-width: 16rem;
	min-width: 8rem;
}

.light-theme .drop-down-btn {
	color: var(--light-text);
	background-color: var(--light-body-item);
}

.light-theme .drop-down-btn:hover {
	transition: transform var(--short-delay) ease, box-shadow var(--short-delay) ease;
  transform: translateY(-2px);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.dark-theme .drop-down-btn {
	color: var(--dark-text);
	background-color: var(--dark-body-item);
}

.dark-theme .drop-down-btn:hover {
	transition: transform var(--short-delay) ease, box-shadow var(--short-delay) ease;
  transform: translateY(-2px);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

footer {
	padding-top: 4rem;
	text-align: center;
	padding-bottom: 2rem;
}

@media screen and (max-width: 768px){

	header {
		justify-content: space-between;
	}

	#full-name {
		display: none;
	}

	#descriptor {
		display: none;
	}

	.drop-down-btn {
		font-size: 1rem;
	}

	.light-theme .drop-down-btn:hover {
		transition: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
		transform:  none;
	}
	
	.dark-theme .drop-down-btn:hover {
		transition: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
		transform:  none;
	}
}
